@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
    
    <div class="row">
	    <div class="span4 offset2">
	    	<div class="well-small">
	    		<h1>
	    			@tasks.size() task(s)
	    		</h1>
	    	</div>
	        
	        @for(task <- tasks) {
				@form(action = routes.Application.deleteTask(task.id)) {
                    <div class="row-fluid well well-small">
						<div class="span10">
							@task.label
						</div>
						<div class="span1">
                    		<button type="submit" class="btn btn-small">
  								<i class="icon-trash"></i>
							</button>
							<!-- <input type="submit" class="btn btn-small" > -->
						</div>
					</div>
                }     	        
<!-- 				@form(action = routes.Application.deleteTask(task.id), args = 'class -> "form-horizontal") { -->
<!--                     <div class="control-group"> -->
<!-- 						<label class="control-label" for="btn-del-task"> -->
<!-- 							@task.label -->
<!-- 						</label> -->
<!-- 						<div class="controls"> -->
<!--                     		<button type="submit" class="btn btn-small" id="btn-del-task"> -->
<!--   								<i class="icon-trash"></i> -->
<!-- 							</button> -->
<!-- 							<input type="submit" class="btn btn-small" > -->
<!-- 						</div> -->
<!-- 					</div> -->
<!--                 }                     -->
	        }
	    
	    <h2>Add a new task</h2>
	    
	    @form(routes.Application.newTask()) {
	        
	        @inputText(taskForm("label")) 
	        
	        <input type="submit" class="btn" value="Create">
	    }
	    </div>
    
    </div>
    
}